@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf7ee; /* Pastel yellow */
  --foreground: #39546d; /* Blue */
  --card-background: #f2f4f3; /* White */
  --card-border: #ccdbdc; /* Pastel green/blue */
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground); /* Default text color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
